{
	"plugins": [
		[
			"@emotion",
			"@babel/plugin-proposal-class-properties",
			{
				// sourceMap is on by default but source maps are dead code eliminated in production
				"sourceMap": true,
				"autoLabel": "dev-only",
				"labelFormat": "[local]",
				"cssPropOptimization": true
			}
		]
	],
	"assumptions": {
		"setPublicClassFields": false
	}
}
